@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.header {
  // display: none;
  &__container {
    width: 100%;
    height: 8vh;
    background-color: #ffb932;
  }
  &__logo {
    width: 50px;
    margin-left: 16px;
  }
}
.hero {
  &__image {
    width: 100%;
    @include tablet {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__heading {
    color: #1d1c1a;
    margin: 0;
    font-size: 1rem;
    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 2.5rem;
    }
  }
  &__title {
    color: #ffb932;
    font-size: 2.5rem;
    text-align: center;
    padding: 16px;
    text-transform: uppercase;
    margin: 16px;
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
    &-tab-desk {
      display: none;
      @include tablet {
        display: block;
        color: #ffb932;
        font-size: 2.5rem;
        text-align: center;
        padding: 16px;
        text-transform: uppercase;
        margin: 16px;
      }
      @include desktop {
        font-size: 3.5rem;
      }
    }
  }
  &__tagline {
    font-size: 1rem;
    color: #1d1c1a;
    background-color: #ffb932;
    border-radius: 5px;
    text-align: center;
    padding: 16px;
    margin: 0 16px;
    @include tablet {
      font-size: 1.2rem;
      padding: 24px;
    }
  }
  &__slogan {
    font-size: 1rem;
    color: #ffb932;
    font-weight: 600;
    text-transform: uppercase;
    @include tablet {
      font-size: 1.2rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // @include tablet {
    //   height: 31.25rem;
    //   padding: $tablet-padding;
    // }
    // @include desktop {
    //   height: 100vh;
    //   padding: $desktop-padding;
  }
}

.recipe {
  &__container {
    background-color: #ffded6;
    padding: 16px;
    margin-top: 24px;
    width: 100%;
    @include tablet {
      padding-bottom: 48px;
    }
  }
  &__section-title {
    color: #2f2f2f;
    text-align: center;
    font-size: 32px;
    @include tablet {
      text-align: left;
      margin-left: 5%;
      font-size: 32px;
    }
    @include desktop {
      font-size: 36px;
      margin-left: 3%;
    }
  }
  &__searchterms {
    color: #555555;
    text-align: center;
    font-size: 14px;
    @include tablet {
      text-align: left;
      margin-left: 5%;
    }
    @include desktop {
      margin-left: 3%;
      font-size: 20px;
    }
  }

  &__list {
    width: 100%;
    // padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }
  &__card {
    margin-bottom: 20px;
    transition: 0.5s;
    width: 100%;
    &:hover {
      transform: scale(1.05);
    }
    @include tablet {
      width: 40%;
      margin: 24px;
      // height: 300px;
      justify-content: space-evenly;
    }
    @include desktop {
      width: 20%;
      margin: 30px;
    }
  }
  &__image {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    width: 100%;
    border-radius: 25px 25px 0 0;
    @include tablet {
      width: 100%;
    }
  }
  &__title {
    color: #1d1c1a;
    size: 10px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 10px 0;
    @include tablet {
      padding: 16px;
    }
  }
  &__card-container {
    background-color: white;
    padding: 2px 16px;
    border-radius: 0 0 25px 25px;
  }
}

.footer {
  &__title {
    display: none;
  }
  &__container {
    width: 100%;
    background-color: #ffc0b2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  &__social-container {
    margin: 16px 16px 0 16px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    @include tablet {
      width: 20%;
      margin: 24px 0 16px 24px;
    }
  }
  &__social-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    object-position: center;
    @include tablet {
      width: 24px;
      height: 24px;
    }
  }
  &__author {
    font-size: 16px;
    color: white;
    align-self: center;
    &-link {
      color: white;
    }
    @include tablet {
      font-size: 18px;
      margin-left: auto;
      margin-right: 36px;
    }
  }
}

.how-to-use {
  color: #555555;
  font-size: 14px;
  text-align: center;
  @include tablet {
    display: none;
  }
}

.howtouse-tab-desk {
  display: none;
  @include tablet {
    display: block;
    color: #555555;
    text-align: center;
    font-size: 16px;
    text-align: center;
  }
  @include desktop {
    font-size: 20px;
  }
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.searchform {
  width: 100%;
}
input {
  width: 300px;
  height: 50px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif, Helvetica, Arial;
  padding-left: 10px;
  background-color: #b8d8d8;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  @include tablet {
    border-radius: 5px 0 0 5px;
  }
}

#submitButton {
  width: 100px;
  height: 50px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif, Helvetica, Arial;
  background-color: #ff8039;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  @include tablet {
    border-radius: 0 5px 5px 0px;
  }
}

.sticky {
  @include tablet {
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    padding-bottom: 70px;
    float: right;
    &:active {
      opacity: 1;
    }
  }
}

.recipe__not-found {
  margin: 10px;
  @include tablet {
    margin: 36px;
  }
}
// .form__container {
//   padding: 0 16px;
//   display: flex;
//   flex-direction: column;
//   @include tablet {
//     display: flex;
//     flex-direction: row-reverse;
//   }
// }
